@page
@model ChannelModel
@{
    ViewData["Title"] = "Channel page";
}

<div class="content-load">
    <div class="channel-box">
        <div class="channel-header">
            <img src="https://yt3.googleusercontent.com/S-p3mv0ByaIIwWXygnf8EIwz-1UBcj4eeUkUt7DX7BEblXph8mW8aIsdnZBxR4d38TpNFu49mQ=w2120-fcrop64=1,00000000ffffffff-k-c0xffffffff-no-nd-rj" class="channel-banner" />
        </div>
        <img src="https://yt3.googleusercontent.com/zNRF9JUkF4F0ajer3fExeqCZfwflre_rtSbxrhXBBQg0q3ll3eUXiLAM3eHfL9k-aJdihLt2iQ=s176-c-k-c0x00ffffff-no-rj" class="channel-page-icon" />
        <p class="channel-page-title">dotnet</p>
        <p class="channel-page-data">
            12.000 inscritos • 154 vídeos
        </p>
        <p class="channel-page-info">
            .NET is a free, cross-platform, open source developer platform for building many different types of applications. With .NET, you can use multiple languages, editors, and libraries to build for web, cloud, mobile, desktop, games, and IoT. This is the official YouTube channel for the .NET team at Microsoft.
        </p>
    </div>
    <div class="channel-video-grid">
        @{
            for (int i = 0; i < 24; i++)
            {
                <a asp-page="/Video">
                    <div class="video-item">
                        <img src="https://img.youtube.com/vi/vjfc0qm7g7U/maxresdefault.jpg" class="video-thumbnail" />
                        <p class="video-title">How does .NET MAUI get me to market faster if I'm a startup?</p>
                        <div class="channel-title-line">
                            <img src="https://yt3.ggpht.com/zNRF9JUkF4F0ajer3fExeqCZfwflre_rtSbxrhXBBQg0q3ll3eUXiLAM3eHfL9k-aJdihLt2iQ=s88-c-k-c0x00ffffff-no-rj" class="channel-icon" />
                            <p>dotnet</p>
                        </div>
                        <p class="video-info">1.569 visualizações • há 22 horas</p>
                    </div>
                </a>
            }
        }


    </div>
</div>