@page
@model ChannelModel
@{
    ViewData["Title"] = "Channel page";
}

<div class="content-load">
    <div class="channel-header">
        <img src="https://yt3.googleusercontent.com/S-p3mv0ByaIIwWXygnf8EIwz-1UBcj4eeUkUt7DX7BEblXph8mW8aIsdnZBxR4d38TpNFu49mQ=w2120-fcrop64=1,00000000ffffffff-k-c0xffffffff-no-nd-rj" class="channel-banner" />
    </div>
</div>