html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F0F0F0;
}

.azure-icon {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5vh;
}
.video-item {
    width: 37vh;
    height: 37vh;
    background-color: white;
    padding: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vh;
}
.video-thumbnail {
    width: 35vh;
    height: 20vh;
}

.video-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding-top: 1vh;
}

.channel-icon {
    width: 3.5vh;
    height: 3.5vh;
}

.channel-title-line {
    display: flex;
    gap: 1vh;
    font-size: 2vh;
}

.video-info {
    position: relative;
    left: 0vh;
    font-size: 1.7vh;
}

.channel-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 7vh;
}

.channel-item {
    width: 25vh;
    height: 32vh;
    background-color: white;
    padding: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vh;
}

.channel-thumbnail {
    width: 20vh;
    height: 20vh;
}

.channel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding-top: 1vh;
}

.channel-info {
    position: relative;
    left: 0vh;
    top: -1vh;
    font-size: 1.5vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.channel-header {
   position:relative;
}

.channel-banner {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.content-load {
    padding-top: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 5vh;
}

.channel-page-icon {
    position: relative;
    width: 30vh;
    height: 30vh;
    top: -20vh;
    left: 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.channel-page-title {
    position: relative;
    left: 40vh;
    top: -27vh;
    font-size: 5vh;
    width: 100vh;
}

.channel-page-data {
    position: relative;
    padding: 5vh;
    top: -30vh;
}

.channel-page-info {
    position: relative;
    padding: 5vh;
    top: -35vh;
}

.channel-video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5vh;
    position: relative;
}

.video-frame {
    width: 75vw;
    height: 70vh;
}

.video-page-title {
    font-size: 5vh;
    font-weight: bold;
    margin-top: 2vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-page-channel-icon {
    width: 7vh;
    height: 7vh;
}

.video-page-channel-title-line {
    display: flex;
}

.video-page-channel-title {
    font-size: 3vh;
    margin-left: 1vh;
    position: relative;
    top: 1vh;
}

.video-page-video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4vh;
    margin-top: 10vh;
}

.video-box {
    background-color: white;
    width: 80vw;
    height: 100vh;
    padding: 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.channel-box {
    background-color: white;
    width: 80vw;
    height: 100vh;
    padding: 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wallpaper-image {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    filter: brightness(50%);
}

.media-title {
    font-size: 10vh;
    position: relative;
    color: white;
    top: -60vh;
    left: 10vh;
}

.media-info {
    position: relative;
    top: -50vh;
    left: 10vh;
    color: white;
    font-size: 2vh;
    width: 80vh;
    text-align: justify;
}

.meida-carousel {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.carousel-item {
    flex-shrink: 0; /* Prevent items from shrinking */
    margin-right: 10px; /* Add spacing between items */
}

.carousel-item img {
    width: auto; /* Ensure images maintain their aspect ratio */
    height: 200px; /* Set a fixed height for the images */
    display: block; /* Ensure images don't have extra space below them */
}